
  
  .App {
    text-align: center;
  }
  
  h1 {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
  }
  
  .TodoWrapper {
  background-color: #ffffff;
  margin-top: 20px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}
  
  .TodoForm {
    width: 100%;
  }
  
  .todo-input {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 10px;
  color: #333;
  background: #f9fafb;
}
  
  
  
 .todo-btn {
  background: #4f46e5;
  border-radius: 10px;
}
  
.Todo {
  background: #f9fafc;
  border-radius: 12px;
  padding: 12px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}
.Todo:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
.Todo p {
  color: #333;
}

.Todo a {
  color: #666;
}

.Todo a:hover {
  color: #4f46e5;
}
  .scr{
    overflow-y: auto;
    max-height: 400px;
  }
  .scr::-webkit-scrollbar {
    width: 0;
  }
  
  .fa-trash {
    margin-left: 0.75rem;
  }
  
  .completed {
    color: #c5aeff;
    text-decoration: line-through;
  }

  .todo-btn:hover {
    background: #8758ff;
    color: #fff;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
    box-shadow: 0 0 10px #8758ff;
  }

a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.todo-green {
  background-color: #dcfce7;  /* light green */
  color: #166534;
}

.todo-red {
  background-color: #fee2e2;  /* light red */
  color: #991b1b;
}

.anca{
  font-size: 25px;
    margin-top: 7px;
    /* margin-left: -68px; */
    
}
.heads{
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 480px) {

  .todo-input {
    font-size: 14px;
  }

  .todo-btn {
    font-size: 14px;
  }

  .Todo {
    flex-direction: column;
    align-items: flex-start;
  }

}

.logout-btn {
  color: #4f46e5;
  font-size: 18px;
}

.logout-btn:hover {
  color: #ef4444;
}


.inp::placeholder {
  color: #9ca3af;
  font-size: 13px;
}

.inp {
  background: #f9fafb;
}

.completed {
  text-decoration: line-through;
  color: #9ca3af;
}